.Header {
  color: rgb(207, 200, 200);
  text-align: center;
  /* background-color: rebeccapurple; */
}

.Container {
  display: block;
  
  background-position: center center;
  padding: 24px;
  margin: 24px;
}